@import 'variables.css';

.docs{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--primary-color);
}

/* SideBar Code */
.sidebar {
    width: 20%;
    height: 100%;
    background-color: var(--nav-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}
  
.sidebar span {
    padding: 20px 0;
}

.sidebar span a {
    color: var(--light-color);
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 20px;
}

.sidebar span a:hover {
    color: var(--link-hover-color);
}

.sidebar::-webkit-scrollbar {  /* ScrollBar width */
  width: 10px;
}

.sidebar::-webkit-scrollbar-thumb {  /* ScrollBar thumb Styling */
  border-radius: 10px;
  background-color: var(--light-color);
}

.sidebar::-webkit-scrollbar-track {  /* ScrollBar track Styling */
  box-shadow: 0 0 5px var(--dark-color) inset;
  border-radius: 10px;
}

.heading div {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 23px;
  color: var(--heading-color);
}

.get-start{
    height: 30px;
    width: 30px;
    color: var(--heading-color);
}

.heading ul li {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.heading ul li.active {
  width: fit-content;
  background-color: var(--heading-color);
}

