/* CSS Variables */

:root {
    --primary-color: #373a78;
    --secondary-color: #0099ff;
    --nav-color: #261f3d;
    --light-color: #fff;
    --dark-color: #000;
    --heading-color: #646465;
    --link-hover-color: #1E90FF;
    --font-family: 'Salsa', cursive;
  }
  